<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>document</title>
</head>
<body>
  <div>
    <form action="/api/userlogin" method="POST">
      用户名：<input type="text" name="uname" id="uname"><br>
      密  码：<input type="password" name="pwd" id="pwd"><br>
      <input type="submit" value="登录">
    </form>
    <p><%= message%></p>
  </div>
</body>
</html>